<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="form-div">

                <form>
                    <div class="carddiv">
                        <div class="secdiv">
                            <div class="row">
                                <div class="col-12">
                                    <h1 style="text-align: center !important; font-weight: bold; color: #1024b5;">
                                        Student Confirmation Form</h1>
                                </div>
                            </div>


                            <div class="row" style="text-align: center;">
                                <div class="col-12">
                                    <b style="font-size: 22px;">
                                    Admission Number
                                    <input type="number" matInput readonly value="3456"></b>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="image-div">
                                        <label for="f">
                                        <img  src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png"
                                            height="100%" width="100%">
                                            </label>
                                            <input type="file" hidden  id="f">
                                    </div>
                                </div>
                               
                            </div>
                            <div class="row" *ngFor="let f of formDataArray;">
                                <div class="col-lg-5" *ngIf="f.type !== 'select'">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{f.label}}</mat-label>
                                        <input [type]="f.type" matInput [placeholder]="f.placeholder"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="f.originalValue">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-5" *ngIf="f.type == 'select'">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{f.label}}</mat-label>
                                        <mat-select class="selectoption" [ngModelOptions]="{standalone: true}" [(ngModel)]="f.originalValue">
                                            <mat-option *ngFor="let a of f.options" [value]="a.id">{{a.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2">

                                    <div class="align-check">
                                        <button mat-button (click)="correctData(f, 'yes')"><i class="fas fa-check"></i></button>&nbsp;
                                        <button mat-button (click)="correctData(f, 'no')"><i class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="col-lg-5" *ngIf="f.type !== 'select'">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{f.label}}</mat-label>
                                        <input [type]="f.type" matInput [placeholder]="f.placeholder" [readonly]="f.flag"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="f.newValue">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-5" *ngIf="f.type == 'select'">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{f.label}}</mat-label>
                                        <mat-select [disabled]="f.flag" 
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="f.newValue">
                                            <mat-option *ngFor="let a of f.options" [value]="a.id">{{a.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button mat-raised-button color="primary" (click)="submitForm()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>