<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="form-div">
                <form>
                    <div class="row">
                        <div class="col-12">
                            <h1 style="text-align: center !important; font-weight: bold; color: #1024b5;">Student Confirmation Form</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="image-div">
                                <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png"
                                    height="100%" width="100%">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-5">
                            Admission Number
                            <input type="number" matInput readonly value="3456">
                        </div>
                    </div>

                    <br>
                    <div class="carddiv">
                        <div class="row">

                            <div class="col-lg-5">

                                <mat-form-field class="example-full-width">
                                    <mat-label>Student Name</mat-label>
                                    <input matInput placeholder="Enter the name">
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Class Applied For</mat-label>
                                    <input matInput type="number" placeholder="Enter the class">
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Date of Enquiry</mat-label>
                                    <input matInput placeholder="Enter the date">
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Date of Birth</mat-label>
                                    <input matInput placeholder="Enter the DOB">
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Gender</mat-label>
                                    <input matInput placeholder="Enter the gender">
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Religion</mat-label>
                                    <input matInput placeholder="Enter the religion">
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Category</mat-label>
                                    <input matInput placeholder="Enter the category">
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Mother Tongue</mat-label>
                                    <input matInput placeholder="Enter the mother tongue">
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Father Name</mat-label>
                                    <input matInput placeholder="Enter the father name">
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Contact No</mat-label>
                                    <input matInput placeholder="Enter the contact no">
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Enter the email">
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Annual Income</mat-label>
                                    <input matInput placeholder="Enter the annual income">
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Mother Name</mat-label>
                                    <input matInput placeholder="Enter the mother name">
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Contact No</mat-label>
                                    <input matInput placeholder="Enter the contact no">
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Annual Income</mat-label>
                                    <input matInput placeholder="Enter the annual income">
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Address</mat-label>
                                    <input matInput placeholder="Enter the address">
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>City</mat-label>
                                    <input matInput placeholder="Enter the city">
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>State</mat-label>
                                    <input matInput placeholder="Enter the state">
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Area Pin</mat-label>
                                    <input matInput placeholder="Area Pin">
                                </mat-form-field><br>



                            


                            </div>
                            <div class="col-lg-2">

                                <div class="align-check">
                                    <button mat-button><i class="fas fa-check"></i></button>&nbsp;
                                    <button mat-button><i class="fas fa-times"></i></button>
                                </div><br>
                                <div class="align-check">
                                    <button mat-button><i class="fas fa-check"></i></button>&nbsp;
                                    <button mat-button><i class="fas fa-times"></i></button>
                                </div><br>
                                <div class="align-check">
                                    <button mat-button><i class="fas fa-check"></i></button>&nbsp;
                                    <button mat-button><i class="fas fa-times"></i></button>
                                </div><br>
                                <div class="align-check">
                                    <button mat-button><i class="fas fa-check"></i></button>&nbsp;
                                    <button mat-button><i class="fas fa-times"></i></button>
                                </div><br>
                                <div class="align-check">
                                    <button mat-button><i class="fas fa-check"></i></button>&nbsp;
                                    <button mat-button><i class="fas fa-times"></i></button>
                                </div><br>
                                <div class="align-check">
                                    <button mat-button><i class="fas fa-check"></i></button>&nbsp;
                                    <button mat-button><i class="fas fa-times"></i></button>
                                </div><br>
                                <div class="align-check">
                                    <button mat-button><i class="fas fa-check"></i></button>&nbsp;
                                    <button mat-button><i class="fas fa-times"></i></button>
                                </div><br>
                                <div class="align-check">
                                    <button mat-button><i class="fas fa-check"></i></button>&nbsp;
                                    <button mat-button><i class="fas fa-times"></i></button>
                                </div><br>
                                <div class="align-check">
                                    <button mat-button><i class="fas fa-check"></i></button>&nbsp;
                                    <button mat-button><i class="fas fa-times"></i></button>
                                </div><br>
                                <div class="align-check">
                                    <button mat-button><i class="fas fa-check"></i></button>&nbsp;
                                    <button mat-button><i class="fas fa-times"></i></button>
                                </div><br>
                                <div class="align-check">
                                    <button mat-button><i class="fas fa-check"></i></button>&nbsp;
                                    <button mat-button><i class="fas fa-times"></i></button>
                                </div><br>
                                <div class="align-check">
                                    <button mat-button><i class="fas fa-check"></i></button>&nbsp;
                                    <button mat-button><i class="fas fa-times"></i></button>
                                </div><br>
                                <div class="align-check">
                                    <button mat-button><i class="fas fa-check"></i></button>&nbsp;
                                    <button mat-button><i class="fas fa-times"></i></button>
                                </div><br>
                                <div class="align-check">
                                    <button mat-button><i class="fas fa-check"></i></button>&nbsp;
                                    <button mat-button><i class="fas fa-times"></i></button>
                                </div><br>
                                <div class="align-check">
                                    <button mat-button><i class="fas fa-check"></i></button>&nbsp;
                                    <button mat-button><i class="fas fa-times"></i></button>
                                </div><br>
                                <div class="align-check">
                                    <button mat-button><i class="fas fa-check"></i></button>&nbsp;
                                    <button mat-button><i class="fas fa-times"></i></button>
                                </div><br>
                                <div class="align-check">
                                    <button mat-button><i class="fas fa-check"></i></button>&nbsp;
                                    <button mat-button><i class="fas fa-times"></i></button>
                                </div><br>
                                <div class="align-check">
                                    <button mat-button><i class="fas fa-check"></i></button>&nbsp;
                                    <button mat-button><i class="fas fa-times"></i></button>
                                </div><br>
                                <div class="align-check">
                                    <button mat-button><i class="fas fa-check"></i></button>&nbsp;
                                    <button mat-button><i class="fas fa-times"></i></button>
                                </div><br>
                                <div class="align-check">
                                    <button mat-button><i class="fas fa-check"></i></button>&nbsp;
                                    <button mat-button><i class="fas fa-times"></i></button>
                                </div><br>
                                
                               
                            </div>
                            <div class="col-lg-5">

                                <mat-form-field class="example-full-width">
                                    <mat-label>Student Name</mat-label>
                                    <input matInput placeholder="Enter the name" readonly>
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Class Applied For</mat-label>
                                    <input matInput type="number" placeholder="Enter the class" readonly>
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Date of Enquiry</mat-label>
                                    <input matInput placeholder="Enter the date" readonly>
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Date of Birth</mat-label>
                                    <input matInput placeholder="Enter the DOB" readonly>
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Gender</mat-label>
                                    <input matInput placeholder="Enter the gender" readonly>
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Religion</mat-label>
                                    <input matInput placeholder="Enter the religion" readonly>
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Category</mat-label>
                                    <input matInput placeholder="Enter the category" readonly>
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Mother Tongue</mat-label>
                                    <input matInput placeholder="Enter the mother tongue" readonly>
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Father Name</mat-label>
                                    <input matInput placeholder="Enter the father name" readonly>
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Contact No</mat-label>
                                    <input matInput placeholder="Enter the contact no" readonly>
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Enter the email" readonly>
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width" readonly>
                                    <mat-label>Annual Income</mat-label>
                                    <input matInput placeholder="Enter the annual income" readonly>
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Mother Name</mat-label>
                                    <input matInput placeholder="Enter the mother name" readonly>
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Contact No</mat-label>
                                    <input matInput placeholder="Enter the contact no" readonly>
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Annual Income</mat-label>
                                    <input matInput placeholder="Enter the annual income" readonly>
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Address</mat-label>
                                    <input matInput placeholder="Enter the address" readonly>
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>City</mat-label>
                                    <input matInput placeholder="Enter the city" readonly>
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>State</mat-label>
                                    <input matInput placeholder="Enter the state" readonly>
                                </mat-form-field><br>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Area Pin</mat-label>
                                    <input matInput placeholder="Area Pin" readonly>
                                </mat-form-field><br>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>