/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
input {
    border:none !important;
}
.mat-form-field-infix {
    height: 20px !important;
    width: 200px !important;
    /* color: brown; */
    /* border: black; */
}
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #13b9c196;
}
mat-select {
    padding: 10px;
}
.mat-select-arrow {
    margin-top: -12px !important;
    
}
mat-label.ng-star-inserted {
    color: #83c3c3;
}
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #83c3c3;
}
.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #13b9c196 !important;
   
}